*,
*::before,
*::after {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

@font-face {
	font-family: "Lexend-regular";
	src: url("/fonts/Lexend/lexend-regular-webfont.woff2") format("woff2"),
		url("/fonts/Lexend/lexend-regular-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

html {
	height: 100%;
	scroll-behavior: smooth;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Lexend-regular", sans-serif;
	background-image: linear-gradient(
		to left bottom,
		#051937,
		#31375c,
		#5b5883,
		#897cac,
		#b9a1d5
	);
	background-position: center center no-repeat fixed;
	background-size: cover;
	color: #768edb;
	margin: 0; /*zauzima cijeli prostor ekrana*/
	padding: 0;
	/*min-height, display flex & column + footer margin 0 ---- footer places at the bottom of the page!!! */
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

main {
	margin: 0;
	flex: 1;
}

img {
	height: auto;
	max-width: 100%;
}

header {
	box-sizing: border-box;
	margin: 0;
	padding: 15px 10%;
	display: flex;
	flex-grow: 1;
	justify-content: flex-end;
	align-items: center;
	flex-wrap: wrap;
}

.container-blue-sea {
	display: grid;
	grid-template-columns: 1fr 500px 1fr;
	margin: 2em auto; /*reposnsive!*/
	height: 450px;
	width: 1120px;
	max-width: calc(100% - 2em);
	justify-content: center;
	gap: 1rem;
}

.logo-pic {
	grid-template-columns: 1;
	grid-template-rows: 1;
	z-index: 1;
	height: fit-content;
	width: 350px;
}

.get-in-touch {
	font-size: 40px;
	color: #fffade;
	text-align: center;
}

/*.form-kontakti-1 {
	background-color: rgb(247, 161, 129);
}*/

/*.form-kontakti-2 {
	background-color: rgb(107, 240, 221);
}*/

.form-kontakti {
	margin-left: 5%;
}

.form-kontakti > * {
	font-family: "Lexend-regular";
	font-size: 18px;
	grid-template-columns: 2;
	grid-template-rows: 1;
}

.form-kontakti input {
	padding: 10px;
	margin: 10px;
	width: 80%;
	background-color: transparent;
	color: #fffade;
	border-bottom: solid 3px #db7692;
	border-left: solid 1px #db7692;
	border-radius: 0.5rem;
	border-top: 0;
	border-right: 0;
	outline: none;
}

.form-kontakti input::placeholder {
	color: #fffade;
}

.form-kontakti textarea {
	padding: 10px;
	margin: 10px;
	width: 80%;
	color: #fffade;
	background-color: transparent;
	border-bottom: solid 3px #db7692;
	border-left: solid 1px #db7692;
	border-radius: 0.5rem;
	border-top: 0;
	border-right: 0;
	outline: none;
}

.form-kontakti textarea::placeholder {
	color: #fffade;
}

.form-kontakti-2 {
	display: grid;
	text-align: center;
	line-height: 0.5rem;
	height: 200px;
	margin-top: 150px;
	color: #ddd7ff;
}

/*.form-kontakti-2 > * {
	padding-top: 60px;
}*/

/*.form-kontakti-2 div:nth-of-type(1) {
	padding-top: 80px;
}

.form-kontakti-2 div:nth-of-type(2) {
	padding-top: 20px;
}*/

.brands {
	display: inline-block;
	padding-top: 0;
}

.brands > * {
	padding-right: 15px;
	color: #ddd7ff;
	font-size: 1.1rem;
}

/*.brands:hover {
	font-size: 30px;
}*/

.submit-kontakti {
	width: 40%;
	background: none;
	padding: 4px;
	outline: none;
	font-size: 13px;
	height: 33px;
	text-align: center;
	cursor: pointer;
	letter-spacing: 1px;
	margin-left: 30%;
	background-color: transparent;
	border: 2px solid #db7692;
	border-radius: 0.5rem;
	color: #fffade;
}

.submit-kontakti:hover {
	color: #fffade;
	cursor: pointer;
}

footer {
	margin: 0;
	position: relative;
	z-index: 1;
	/*background-color: yellowgreen;*/
	padding: 1rem 0;
}

.footer-container {
	width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	font-size: 0.7rem;
	color: #edeeff;
}

.footer-container a {
	color: #edeeff;
}

.footer-columns:nth-child(1) {
	padding-top: 1rem;
}

@media screen and (min-width: 600px) and (max-width: 1220px) {
	.container-blue-sea {
		display: flex;
		flex-wrap: wrap;
	}
}
